* {
	color: white;
}

body {
	background-color: #008080;	
	/*008080*/
}

td#OtherMonth {
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	font-family: Tahoma;
	border-image: -webkit-linear-gradient(right,#2193b0,#6dd5ed);
	border-image-slice: 1;
}

td#CurMonth {
    cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	font-family: Tahoma;
	border-image:-webkit-linear-gradient(right,#2193b0,#6dd5ed);
	border-image-slice: 1;
}

#LeftArrow, #RightArrow{
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	font-family: Tahoma;
	border-image: -webkit-linear-gradient(right,#2193b0,#6dd5ed);
	border-image-slice: 1;
	
}

#Month {
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	font-family: Tahoma;
	border-image:-webkit-linear-gradient(right,#2193b0,#6dd5ed);
	border-image-slice: 1;
}



table, th, td {
    text-align: center;
    cursor: default;
	padding: 15px;
	padding-right: 40px;
	padding-left: 40px;
	
}

#LeftArrow:hover, #RightArrow:hover{
	background-image: -webkit-linear-gradient(right,#2193b0,#6dd5ed);
	cursor: pointer;
}


td#CurMonth:hover {
	cursor: pointer;
	background-image: -webkit-linear-gradient(right,#2193b0,#6dd5ed);
	animation:swing .9s both;
}

td#CurMonth:target {
	cursor: pointer;
	background-image: -webkit-linear-gradient(right,#2193b0,#6dd5ed);
}

td#Month:hover {
	cursor: pointer;
	background-image: -webkit-linear-gradient(right,#2193b0,#6dd5ed);
}


td#OtherMonth:hover {
	cursor: pointer;
	background-image:-webkit-linear-gradient(right,#2193b0,#6dd5ed);
	animation:swing .9s both;
}

@-webkit-keyframes swing {
  20% {
  -webkit-transform: rotate3d(0, 0, 1, 15deg);
  transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
  -webkit-transform: rotate3d(0, 0, 1, -10deg);
  transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
  -webkit-transform: rotate3d(0, 0, 1, 5deg);
  transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
  -webkit-transform: rotate3d(0, 0, 1, -5deg);
  transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  }
  }
  @keyframes swing {
  20% {
  -webkit-transform: rotate3d(0, 0, 1, 15deg);
  transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
  -webkit-transform: rotate3d(0, 0, 1, -10deg);
  transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
  -webkit-transform: rotate3d(0, 0, 1, 5deg);
  transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
  -webkit-transform: rotate3d(0, 0, 1, -5deg);
  transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  }
  }